/* your styles go here */
body,
body p {
  font-size: 16px; 
}
.top {
  margin-top: 40px;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {

}

.box-simple.custom {
  min-height: 230px;
}

.home-carousel .owl-carousel {
  padding-top: 40px;
}

.home-carousel .copy {
  padding-left: 40px;
}

.home-carousel h1 {
  font-weight: 500;
  text-transform: none;
  font-size: 38px;
  letter-spacing: 0.00em;
}

.home-carousel p {
  font-size: 24px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
  letter-spacing: 0.02em;
}

.btn-xl {
    padding: 15px 21px;
    font-size: 18px;
    line-height: 1.33;
    margin-top: 20px;
}

.home-carousel {
  /*background: url('../img/startup-0.svg'), url('../img/photogrid.jpg'), center center repeat;*/
  background: none;
}

.page-carousel {
  background: url('../img/startup-0.svg') center center repeat;
  background-size: cover;
  background-color: #eee;
  padding-top: 30px;
}

.lt-padding {
  padding-top: 30px;
  padding-left: 30px;
}

.home-carousel .medium-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #93ccd6;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

@media (max-width: 991px) {
	.btn-xl {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.33;
    margin-top: 10px;
	}
}

.navbar ul.nav > li > a {
  text-decoration: none; 
}

/* Testimonial Styling Start */
.testimonial {
  clear: both;
  overflow: hidden;
}
.pull-center {
  text-align: center;
}

.vcenter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.testimonial .center {
  width: 100%;
  margin: 0 auto;
}
.narrow {
  padding: 0 15%;
}
/*@media (max-width: 991px) {
  .testimonial .center {
    width: 767px;
  }
  .narrow {
    padding: 0 100px;
  }            
}
@media (max-width: 767px) {
  .testimonial .center {
    width: 480px;
  }
  .narrow {
    padding: 0 50px;
  }            
}
@media (max-width: 480px) {
  .testimonial .center {
    width: 320px;
    margin: 0 auto;
  }
  .narrow {
    padding: 0 20px;
  }
}
@media (max-width: 320px) {
  .testimonial .center {
    width: 250px;
    margin: 0 auto;
  }
  .narrow {
    padding: 0 10px;
  }
}*/
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: none; 
}
.testimonial p {
  font-style: italic;
  margin: 25px 0 20px;
  position: relative;
}
.testimonial p:before {
  position: absolute;
  left: -40px;
  top: 0px;
  content: '';
  background: url(../img/quote1.png) no-repeat center center;
  width: 23px;
  height: 20px;
}
.testimonial p:after {
  position: absolute;
  right: -40px;
  bottom: 0px;
  content: '';
  background: url(../img/quote2.png) no-repeat center center;
  width: 23px;
  height: 20px;
}
.testimonial cite {
  display: block;
  color: #9E9E9E;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 18px;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 10px;
}
/* Testimonial Styling End */

/* Blog Styling Start */
@media (min-width: 992px) {
    .email-signup-form-container.affix,
    .section-nav.affix {
        position: fixed;
        top: 100px;
        width: auto;
        margin-right: 5%;
    }
}
@media (max-width: 992px) {
    .email-signup-form-container.affix,
    .section-nav.affix {
        position: static;
    }
}
.email-signup-form-container {
  background: none !important;
}

blockquote {
    /*border-left: .25em solid #dfe2e5;*/
    color: #6a737d;
    padding: 0 1em;
}
/* Blog Styling End */

.signup-form {
    position: relative;
    width: 100%;
    float: left;
    padding: 30px 50px;
    background: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    box-sizing: border-box;
    -moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.signup-form .form-group {
    margin-bottom: 10px;
}

#heading-breadcrumbs h1,
.text-uppercase {
    letter-spacing: 0.04em;
}

.section-nav {
  padding-left: 20px;
}

.section-nav ul {
  padding-left: 1rem;
}

.toc-entry {
  display: block
}

.toc-entry a {
  display: block;
  padding: .125rem 1.5rem;
  color: #77757a
}

.toc-entry a:hover {
  color: #007bff;
  text-decoration: none
}

p.small {
  font-size: 14px; 
}
.internal-links {
  background: #333;
  padding-top: 50px;
}
.internal-links li, h5 {
  color: #ccc;
  font-size: 12px;
  line-height: 28px;
}
.internal-links ul {
  list-style-type: none;
  padding-left: 0px;
}
.affix-bottom {
  position: relative
}
h4.callout {
  text-align: center;;
  color: #564a4a;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.3;
  font-size: 17px;

}
ul.callout {
  padding-inline-start: 0px;
}
.callout li {
  font-size: 14px;
  text-align: center;
  list-style-type: none;
}
